@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.embla {
  overflow: hidden;
  position: relative;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 20%;
  min-width: 0;
  height: 200px;
  overflow: hidden;
  padding: 1px 1px 2px 1px;
}

.embla__button--prev {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.embla__button--next {
  position: absolute;
  top: 95px;
  right: 0;
}

/* .embla__button--next {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  flex-grow: 1;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: end;
}
.embla__button--prev {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  flex-grow: 1;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: start;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
} */
.embla__button__svg {
  width: 40px;
  height: 20px;
}

/*MDX Render Styles*/
.mdxRemoteWrapper > h1 {
  font-size: 3.75rem;
  line-height: 1.25;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(31 41 55 / 1);
}
.mdxRemoteWrapper > h2 {
  font-size: 2.5rem;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(31 41 55 / 1);
}
.mdxRemoteWrapper > h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: rgb(31 41 55 / 1);
}
.mdxRemoteWrapper > blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C' '\201D' '\2018' '\2019';
}
.mdxRemoteWrapper > blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.mdxRemoteWrapper > blockquote > p {
  display: inline;
  font-style: italic;
  font-weight: 300;
  font-size: 1.2rem;
}
.mdxRemoteWrapper > p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.mdxRemoteWrapper > p > img {
  margin: auto;
  max-height: 500px;
  max-width: 800px;
  width: 100%;
  object-fit: cover;
}
.mdxRemoteWrapper > ol {
  margin-top: 1.5rem;
  list-style: decimal;
  list-style-position: inside;
}
.mdxRemoteWrapper > ul {
  margin-top: 1.5rem;
  list-style: disc;
  list-style-position: inside;
}
.mdxRemoteWrapper > hr {
  margin-top: 1.5rem;
}
.mdxRemoteWrapper p a {
  text-decoration: underline;
  font-weight: 600;
}
.mdxRemoteWrapper p a:visited {
  font-weight: 300;
}
